<div ng-controller="MainCtrl">
  <h1>Casas</h1>

  <ul>
    <li ng-repeat="casa in casas">
      <strong>{{casa.nombre}}</strong>
      <p>
        Fundada en el año {{casa.fundada_en}} - Patrimonio {{12343 | currency}}
      </p>
    </li>
  </ul>
</div>
